<template>
  <v-container fluid>
    <v-row justify="center">
      <v-col cols="12" md="8">
        <v-card class="not-found">
          <v-card-title>404 - Page Not Found</v-card-title>
          <v-card-text>
            <p>Sorry, the page you are looking for does not exist.</p>
          </v-card-text>
          <v-card-actions>
            <router-link to="/">
              <v-btn color="primary">Go to Home</v-btn>
            </router-link>
          </v-card-actions>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script setup lang="ts"></script>

<style scoped>
.not-found {
  text-align: center;
  margin-top: 100px;
}
</style>
