<template>
  <v-container>
    <div v-if="userInfo">
      {{ userInfo.username }}<br />
      {{ userInfo.mobile }}
    </div>
  </v-container>
</template>
<script lang="ts" setup>
//imports
import { computed } from 'vue'
import authService from '@/services/authService'

//variables

//computeds
const userInfo = computed(() => {
  return authService.getUserInfo()
})
</script>
