<template>
  <v-card color="primary" variant="tonal">
    <div class="px-5 py-3 d-flex align-center justify-space-between">
      <div>
        <v-img :width="100" cover :src="orgLogo" />
      </div>
      <v-btn :loading="loading" size="small" @click="logout" v-if="loggedIn"
        >logout</v-btn
      >
    </div>
  </v-card>
</template>
<script setup>
///imports
import { computed, ref } from 'vue'
import orgLogo from '@/assets/images/logo.svg'
import authService from '@/services/authService'

//varibales
const loading = ref(false)

///computeds
const loggedIn = computed(() => {
  return authService.isAuthenticated()
})

//functions
const logout = async () => {
  loading.value = true
  try {
    await authService.logout()
  } catch (e) {
    alert(e.message)
  } finally {
    loading.value = false
  }
}
</script>
