<template>
  <v-container class="login">
    <v-layout
      class="align-center justify-center flex-column login__full-height"
    >
      <v-card
        class="mx-auto px-6 py-8 text-center"
        max-width="544"
        max-height="500"
      >
        <div class="w-100">
          <v-img class="mx-auto" :width="100" cover :src="mirorim" />
        </div>
        <div class="font-weight-medium mt-2">
          Welcome To Mirorim Admin Panel 👋
        </div>
        <div class="text-caption mt-1 text-yellow-accent-2">
          please enter your phone number and password if you have access
        </div>
        <v-form class="mt-4 text-left" @submit.prevent="onSubmit">
          <v-text-field
            v-model="form.phoneNumber"
            :rules="[required, validPhoneNumber]"
            prefix="+98"
            placeholder="9120995490"
            class="mb-2"
            label="Phone Number"
            variant="outlined"
          ></v-text-field>
          <v-text-field
            v-model="form.password"
            type="password"
            label="Password"
            :rules="[required]"
            placeholder="Enter your password"
            variant="outlined"
          ></v-text-field>
          <v-btn
            :loading="form.loading"
            :disabled="disableSubmit"
            class="mt-2"
            color="success"
            type="submit"
            variant="elevated"
            block
          >
            Sign In
          </v-btn>
        </v-form>
      </v-card>
    </v-layout>
  </v-container>
</template>
<script lang="ts" setup>
//imports
import { ref, computed } from 'vue'
import mirorim from '@/assets/images/login/mirorim.svg'
import authService from '@/services/authService'
///data
const form = ref({
  phoneNumber: '',
  password: '',
  loading: false
})

///validations
const phoneNumberRegex = /^9\d{9}$/

const required = (value: string) => !!value || 'Required'
const validPhoneNumber = (value: string) =>
  phoneNumberRegex.test(value) || 'Invalid phone number format'

///computeds
const disableSubmit = computed(() => {
  return (
    !form.value.phoneNumber ||
    !form.value.password ||
    !phoneNumberRegex.test(form.value.phoneNumber)
  )
})

///functions
const onSubmit = async () => {
  if (form.value.loading || disableSubmit.value) {
    return
  }
  form.value.loading = true
  try {
    await authService.login(`+98${form.value.phoneNumber}`, form.value.password)
  } catch (e) {
    alert(e.message)
  } finally {
    form.value.loading = false
  }
}
</script>

<style lang="scss" scoped>
@import 'Login';
</style>
