<template>
  <v-app>
    <Header />
    <router-view v-slot="{ Component }">
      <v-expand-transition>
        <component :is="Component" />
      </v-expand-transition>
    </router-view>
  </v-app>
</template>
<script setup lang="ts">
import Header from '@/components/layout/header/Header.vue'
</script>
